html{
  /* background-repeat: no-repeat;
  background-size: cover; */
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  color: #eee;
}
.navbar{
  font-size: 24px;
  padding: 10px 20px;
  text-align: center;
  background: #1d4e30
}
.navbar h1{
  margin: 10px 0;
}

.book-list{
  margin: 20px;
}
.book-list ul{
  padding: 0;
  list-style-type: none;
}
.book-list li{
  display: flex;
  background: #215f2b;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}
.book-list img{
  width: 120px;
  height: 150px;
}
.book-list li:hover{
  opacity: 0.7;
  text-decoration: line-through;
}
.book-list .name{
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}
.book-list .text{
  flex-grow: 1;
  align-self: center;
  font-size: 0.9em;
  color: #ddd;
}
.empty{
  margin: 20px;
  text-align: center;
  color: black;
  font-weight: bold;
}
input[type="desc"]{
  width: 100%;
  align-self: stretch;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #ceeed2;
  color: #fff;
  border: 0;
}
input[type="name"]{
  width: 100%;
  align-self: stretch;
  padding: 10px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 6px 0;
  background: #ceeed2;
  color: #fff;
  border: 0;
  text-transform: uppercase;
}
input[type="submit"]{
  margin: 10px auto;
  background: #eee;
  align-items: center;
  border: 0;
  padding: 6px 20px;
  display: inline-block;
}
input[type="file"]{
  margin: 10px auto;
  align-items: center;
  border: 0;
  padding: 6px 20px;
  display: inline-block;
}
form{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
}
img{

}


.addForm{
  width: 700px;
  height: auto;
  background: #a1daa8;
}
.mainPage{
  width: 70vw;
  height: auto;
  background: #a1daa8;
}
.mainPage__header{
  margin-left: 200px;
}
.mainList{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.mainList__item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
}
.mainList__desc{
  margin-left: 300px;
  grid-row:2;
  grid-column: 1;
  justify-self: center;
}
.mainList__image{
  width: 90px;
  height: 120px;
  align-self: flex-end;
  border: 5px solid white;
  border-radius: 20%;
  grid-row:2;
  grid-column: 1;
  justify-self: center;
}
.mainList__name{
  justify-self: center;
  text-transform: uppercase;
  font-size: 20px;
}
.mainList__inputs{
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
  width: 100px;
  height:50px;
  display: grid;
}
.mainList__inputs__name{
  font-size: 17px;
}
.mainList__progress{
  position: relative;
  height: 20px;
  margin-top: 10px;
  background: #bdc3c7;
  width: 150px;
  border-radius: 25px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
  padding: 5px;
}
.mainList__progress--fert{
  position: relative;
  height: 20px;
  margin-top: 10px;
  background: #bdc3c7;
  width: 150px;
  border-radius: 25px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
  padding: 5px;
}
.mainList__progress--weed{
  position: relative;
  height: 20px;
  margin-top: 10px;
  background: #bdc3c7;
  width: 150px;
  border-radius: 25px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
  padding: 5px;
}
.mainList__progress > span {
  display: block;
  height: 100%;
  background-color: rgb(34, 154, 224);
  box-shadow:
  inset 0 2px 9px rgba(255,255,255,0.3),
  inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.mainList__progress--fert > span {
  display: block;
  height: 100%;
  background-color: rgb(122, 80, 31);
  box-shadow:
  inset 0 2px 9px rgba(255,255,255,0.3),
  inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.mainList__progress--weed > span {
  display: block;
  height: 100%;
  background-color: rgb(24, 177, 44);
  box-shadow:
  inset 0 2px 9px rgba(255,255,255,0.3),
  inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.mainList__progress > span:after{
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:
     -webkit-gradient(linear, 0 0, 100% 100%,
     color-stop(.25, rgba(255, 255, 255, .2)),
     color-stop(.25, transparent), color-stop(.5, transparent),
     color-stop(.5, rgba(255, 255, 255, .2)),
     color-stop(.75, rgba(255, 255, 255, .2)),
     color-stop(.75, transparent), to(transparent)
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  overflow: hidden;
}
.mainList__progress--fert > span:after{
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:
     -webkit-gradient(linear, 0 0, 100% 100%,
     color-stop(.25, rgba(255, 255, 255, .2)),
     color-stop(.25, transparent), color-stop(.5, transparent),
     color-stop(.5, rgba(255, 255, 255, .2)),
     color-stop(.75, rgba(255, 255, 255, .2)),
     color-stop(.75, transparent), to(transparent)
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  overflow: hidden;
}
.mainList__progress--weed > span:after{
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:
     -webkit-gradient(linear, 0 0, 100% 100%,
     color-stop(.25, rgba(255, 255, 255, .2)),
     color-stop(.25, transparent), color-stop(.5, transparent),
     color-stop(.5, rgba(255, 255, 255, .2)),
     color-stop(.75, rgba(255, 255, 255, .2)),
     color-stop(.75, transparent), to(transparent)
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  overflow: hidden;
}
.mainList__inputs__name{
  margin: 0;
}
.mainList_chanBtn{
  grid-column: 1;
 margin-top: 20px;
 margin-bottom: 10px;
  justify-self: center;
  width: 100px;
}
.mainList_delBtn{
  grid-column: 1;
  justify-self: center;
   width: 100px;
   margin-bottom: 20px;
 }
 .mainPage__image{
   position: absolute;
   background: url('images/sunfl.jpg');
   background-size: cover;
   border-radius: 20%;
   background-repeat: no-repeat;
   width: 400px;
   height: 300px;
   bottom: 20px;
   left: 20px;
   z-index: 100;
 }

 .modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  z-index: 10;
  overflow: auto;

  /* transform: scale(1.1); */
  /* transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; */
}
.modal-content {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 4rem;
  line-height: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;

}
.close-button:hover {
  background-color: darkgray;
}

 @keyframes move {
  0% {
     background-position: 0 0;
  }
  100% {
     background-position: 50px 50px;
  }
}
.modal__p{
  font-weight: bold;
}

.change__name{
  position: absolute;
left: 25%;
top: 10%;
  z-index: 1000;
  background-color: yellowgreen;
  text-align: center;
  visibility: hidden;
  padding: 10px;
  width:200px;
  height:150px;
}

.change__name__btn{
  width: 100px;
  height: 20px;
  margin-top: 20px;
}
.change__desc{
  position: absolute;
left: 25%;
top: 15%;
  z-index: 1000;
  background-color: yellowgreen;
  text-align: center;
  visibility: hidden;
  padding: 10px;
  width:200px;
  height:150px;
}
.change__desc__btn{
  width: 110px;
  height: 40px;
  margin-top: 20px;
}
.closeBtn{
  position: absolute;
  top: 6%;
  right: 7%;
  font-weight: bold;
  cursor: pointer;
}

.modalhide{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 11;
}
.modal__image{
  width: 90px;
  height: 120px;
}