*{
  margin: 0;
  padding:0;
}
html{
  color:#a1daa8;
  width: 100v2;
  hei
  font-family: "Arial Rounded MT Bold","Helvetica Rounded","Arial",sans-serif;
}
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.App{
  display: flex;
  justify-content: center;
  /* margin: 20px auto; */
  color: #eee;
}
.navbar{
  font-size: 24px;
  padding: 10px 20px;
  text-align: center;
  background: #1d4e30
}
.navbar h1{
  margin: 10px 0;
}

.plantsList{
  margin: 20px;
}
.plantsList__list{
  padding: 0;
  list-style-type: none;
}
.plantsList__item{
  display: flex;
  background: #215f2b;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}
.plantsList__img{
  min-width: 100px;
  min-height: 100px;
  width:130px;
  height:120px;
}
.plantsList__item:hover{
  opacity: 0.7;
  text-decoration: line-through;
}
.plantsList__name{
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
  margin-right:10px;
}
.plantsList__text{
  flex-grow: 1;
  align-self: center;
  font-size: 0.9em;
  color: #ddd;
}
.plantDetalis{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
}

.nameChange{
  width:auto;
}

.empty{
  margin: 20px;
  text-align: center;
  color: #1d4e30;
  font-weight: bold;
}
input[type="desc"]{
  width: 100%;
  align-self: stretch;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #ceeed2;
  color: #fff;
  border: 0;
}
input[type="name"]{
  width: 100%;
  align-self: stretch;
  padding: 10px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 6px 0;
  background: #ceeed2;
  color: #fff;
  border: 0;
  text-transform: uppercase;
}
input[type="submit"]{
  margin: 10px auto;
  background: #eee;
  align-items: center;
  border: 0;
  padding: 6px 20px;
  display: inline-block;
}
input[type="file"]{
  margin: 10px auto;
  align-items: center;
  border: 0;
  padding: 6px 20px;
  display: inline-block;
}
form{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
}
.navigation {
  position: absolute;
  text-decoration: none;
  background-color: #1d4e30;
  border-radius: 30px;
  color: black;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 8px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  top: 3%;
  left: 15%;
}
.navigation--addPage{
  text-decoration: none;
  background-color: #1d4e30;
  border-radius: 30px;
  color: black;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 8px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  justify-self: center;
  margin-bottom: 20px;
}

.addForm{
  width: 700px;
  height: auto;
  background: #a1daa8;
}
.mainPage{
  width: 70vw;
  height: auto;
  background: #a1daa8;
  padding-bottom: 30px;
  border-radius:25px;
}
.mainPage__header{
  position: absolute;
  top: 1%;
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 40px;
  text-align: center;
  background-image: linear-gradient(rgb(137, 168, 132), #1d4e30);
  left:50%;
  transform: translate(-50%)
}
.mainList{
  display: grid;
  grid-template-rows: 1fr auto;
}
.mainList__item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.mainList__desc{
  width:400px;
  grid-row:2;
  grid-column: 2;
  word-wrap: break-word;
}
.mainList__image {
  width: 140px;
  height: 160px;
  align-self: flex-end;
  border: 5px solid white;
  border-radius: 20%;
  grid-row: 2;
  grid-column: 1;
  margin-right: 155px;
  margin-left: 150px;
  justify-self: self-end;
}
.mainList__name{
  justify-self: center;
  color:#215f2b;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
}
.mainList__inputs{
  grid-row: 1;
  grid-column: 3;
  justify-self: center;
  height:50px;
  display: grid;
  margin: 20px;
}
.mainList__inputs__name{
  font-size: 17px;
}
.mainList__progress{
  position: relative;
  height: 20px;
  margin-top: 10px;
  background: #bdc3c7;
  width: 150px;
  border-radius: 25px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
  padding: 5px;
}
.mainList__progress--fert{
  position: relative;
  height: 20px;
  margin-top: 10px;
  background: #bdc3c7;
  width: 150px;
  border-radius: 25px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
  padding: 5px;
}
.mainList__progress--weed{
  position: relative;
  height: 20px;
  margin-top: 10px;
  background: #bdc3c7;
  width: 150px;
  border-radius: 25px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
  padding: 5px;
}
.mainList__progress > span {
  display: block;
  height: 100%;
  background-color: rgb(34, 154, 224);
  box-shadow:
  inset 0 2px 9px rgba(255,255,255,0.3),
  inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.mainList__progress--fert > span {
  display: block;
  height: 100%;
  background-color: rgb(122, 80, 31);
  box-shadow:
  inset 0 2px 9px rgba(255,255,255,0.3),
  inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.mainList__progress--weed > span {
  display: block;
  height: 100%;
  background-color: rgb(24, 177, 44);
  box-shadow:
  inset 0 2px 9px rgba(255,255,255,0.3),
  inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.mainList__progress > span:after{
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:
     -webkit-gradient(linear, 0 0, 100% 100%,
     color-stop(.25, rgba(255, 255, 255, .2)),
     color-stop(.25, transparent), color-stop(.5, transparent),
     color-stop(.5, rgba(255, 255, 255, .2)),
     color-stop(.75, rgba(255, 255, 255, .2)),
     color-stop(.75, transparent), to(transparent)
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  overflow: hidden;
}
.mainList__progress--fert > span:after{
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:
     -webkit-gradient(linear, 0 0, 100% 100%,
     color-stop(.25, rgba(255, 255, 255, .2)),
     color-stop(.25, transparent), color-stop(.5, transparent),
     color-stop(.5, rgba(255, 255, 255, .2)),
     color-stop(.75, rgba(255, 255, 255, .2)),
     color-stop(.75, transparent), to(transparent)
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  overflow: hidden;
}
.mainList__progress--weed > span:after{
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:
     -webkit-gradient(linear, 0 0, 100% 100%,
     color-stop(.25, rgba(255, 255, 255, .2)),
     color-stop(.25, transparent), color-stop(.5, transparent),
     color-stop(.5, rgba(255, 255, 255, .2)),
     color-stop(.75, rgba(255, 255, 255, .2)),
     color-stop(.75, transparent), to(transparent)
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  overflow: hidden;
}
.mainList__inputs__name{
  margin: 0;
  margin-top: 10px;
}
.mainList_chanBtn{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 5px solid white;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  grid-column:1;
  justify-self: center;
  font-size: 1rem;
  line-height: 1;
  width:100px;
  padding:10px;
  margin-top:20px;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.mainList_chanBtn:hover{
  color: #fff;
  outline: 0;
  box-shadow: 0 0 40px 40px #215f2b inset;
}

.mainList_delBtn{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 5px solid white;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  grid-column:1;
  justify-self: center;
  font-size: 1rem;
  line-height: 1;
  width:100px;
  padding:3px;
  margin-top:5px;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
 }

 .mainList_delBtn:hover{
  color: #fff;
  outline: 0;
  box-shadow: 0 0 40px 40px rgb(158, 3, 3) inset;
}


 .mainPage__image{
   position: absolute;
   background: url('images/sunfl.jpg');
   background-size: cover;
   border-radius: 20%;
   background-repeat: no-repeat;
   width: 400px;
   height: 300px;
   bottom: 20px;
   left: 20px;
   z-index: 100;
 }

 .modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  z-index: 10;
  overflow: auto;

  /* transform: scale(1.1); */
  /* transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; */
}
.modal-content {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 4rem;
  line-height: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-top: 20px;
  cursor: pointer;

}
.close-button:hover {
  font-size: 2.5em;
}

 @keyframes move {
  0% {
     background-position: 0 0;
  }
  100% {
     background-position: 50px 50px;
  }
}
.modal__p{
  font-weight: bold;
}

.change__name{
  position: absolute;
left: 25%;
top: 10%;
  z-index: 1000;
  background-color: yellowgreen;
  text-align: center;
  visibility: hidden;
  padding: 10px;
  width:200px;
  height:150px;
}

.modal__button{
  width: 100px;
  height: 20px;
  margin-top: 20px;
}
.change__desc{
  position: absolute;
left: 25%;
top: 15%;
  z-index: 1000;
  background-color: yellowgreen;
  text-align: center;
  visibility: hidden;
  padding: 10px;
  width:200px;
  height:150px;
}
.change__desc__btn{
  width: 110px;
  height: 40px;
  margin-top: 20px;
}
.closeBtn{
  position: absolute;
  top: 6%;
  right: 7%;
  font-weight: bold;
  cursor: pointer;
}

.modalhide{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 11;
}
.modal__image{
  width: 90px;
  height: 120px;
}
.mainList__buttons{
    grid-row: 2;
     grid-column: 1;
     display: flex;
     flex-direction: column;
     margin-left: 30px;
    margin-top: 10px;
     width: 200px;
    align-self: center;

}
.mainList_link{
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    margin-left: 380px;
    /* text-decoration: none; */
    width: 50px;
    text-align: center;
    height: 50px;
    align-self: center;
    /* justify-items: center; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-radius: 360px;
    background-color: white;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}
.mainList_link a{
  text-decoration: none;
  color: #1d4e30;
  text-transform: uppercase;
  font-size:15px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
@media(max-width:1640px){
  .mainList_link {
    margin-left: 250px;

}
.navigation{
  left:10%;
}
  .mainList__desc {
    width: 150px;
    grid-row: 2;
    grid-column: 2;
    word-wrap: break-word;
}
.mainList__buttons {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 10px;
  width: 200px;
  align-self: center;
  margin-right: 10px;
}
  .mainList_chanBtn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    grid-column: 1;
    justify-self: center;
    font-size: 1rem;
    line-height: 1;
    width: 80px;
    font-size: 12px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.mainList_delBtn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 5px solid white;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  grid-column: 1;
  justify-self: center;
  font-size: 1rem;
  line-height: 1;
  width: 80px;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
  .mainList__image {
    width: 100px;
    height: 130px;
    align-self: center;
    border: 5px solid white;
    border-radius: 20%;
    margin-left: 120px;
    grid-row: 2;
    grid-column: 1;
}
.mainList__name{
  font-size: 27px;
  margin-right: 100px;
}

}
@media(max-width:1000px){
  .close-button {
    float: right;
    width: 4rem;
    line-height: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 20px;
    cursor: pointer;
    align-self: flex-end;
}
  .modal-content {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 15rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}
  .mainList_link {
    margin-left: 0px;
    align-self: center;
    justify-self: center;
    margin-top: 15px;
}
  .mainList__buttons {
    /* grid-row: 2; */
    /* grid-column: 1; */
    display: flex;
    flex-direction: row;
    align-items: safe;
    /* align-content: flex-start; */
    /* align-self: center; */
    /* flex-direction: column; */
    margin-left: 0px;
    margin-top: 160px;
    width: 240px;
    align-self: center;
    /* justify-content: space-evenly; */
    justify-content: space-around;
}
.mainPage__header {
  color: white;
  margin-right: 0;
  margin-left: 0;
  /* margin-top: 10px; */
  text-transform: uppercase;
  padding: 10px;
  background-image: linear-gradient(rgb(184, 208, 178), #385443);
  left: 75%;
  width: 120px;
  font-size: 17px;
  text-align: center;
  height: auto;
}

  .mainList__desc {
    padding: 20px;

    justify-self: center;
    width: 200px;
}

.mainList__name {
  justify-self: center;
  color: #215f2b;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-self: center;
  align-self: center;
  margin-right:0px;
}

.mainList__image {
   margin-left: 0px;
   margin-right: 0px;
    align-self: center;
}
.mainList__inputs {
    /* grid-row: 1; */
    /* grid-column: 3; */
    /* justify-self: center; */
    height: 50px;
    /* display: grid; */
    /* margin: 20px; */
    align-self: center;
    margin-top:5px;
}

/* .mainPage {
    width: 70vw;
    height: auto;
    background: #a1daa8;
    padding-bottom: 50px;
} */
.mainList{
  display: flex;
  padding: 0;
  flex-direction: column;
  padding-top: 65px;
}
.mainList__item {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 10px;
}

.mainPage {
  width: 80vw;
    height: auto;
    background: #a1daa8;
    padding-bottom: 50px;
}
  .modal-content {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 15rem;
    border-radius: 0.5rem;
}
.mainList_chanBtn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 5px solid white;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  grid-column: 1;
  justify-self: center;
  font-size: 1rem;
  line-height: 1;
  width: 100px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

}
